body {
    background-color: black;
    color: #b260e8;
}
main{
    flex-direction: column;
    width: 700px;
    margin: auto;
}

h1{
    margin: auto;
    margin-top: 30px;
    margin-bottom: 100px;
    
    
}
.d-flex {
    display: flex;
}
#form {
    margin-bottom: 180px;
}

#label-input {
    flex-direction: column;
    margin-left: 10px;
}
input[type="submit"] {
    margin: 20px;
    height: 28px;
    width: 90px;
    border-radius: 5px;
}
#candidat-name {
    width: 180px;
    height: 25px;
    border-radius: 5px;
}

#table {
    border-collapse: separate;
    border-spacing: 0.5em;
    .row {
        background-color: white;
    }
    th,
    #inf-row > th{
        width: 100px;
        height: 25px;
        border: 2px solid #b260e8;
        border-radius: 5px;
    }
}