body {
    background-color: black;
    color: #b260e8;
}
.d-flex {
    display: flex;
}

#label-input {
    flex-direction: column;
}
input[type="submit"] {
    margin: 20px;
    margin-bottom: 0;
    height: 28px;
    width: 90px;
    border-radius: 5px;
}
#candidat-name {
    width: 180px;
    height: 25px;
    border-radius: 5px;
}

#table {
    border-collapse: separate;
    border-spacing: .5em ;
    padding: 10em 10em ;

    .row {
        background-color: white;
    }
    th {
        width: 90px;
        height: 25px;
        border: 2px solid #b260e8;
        border-radius: 5px;
        // margin: 10px;
    }
    #inf-row {
        background-color: black;
        th {
            border-radius: 0;
        }
    }
}
